<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<header>
    <a href="">
        <h1 class="bemvindo">BEM VINDO</h1>
    </a>

    <ul class="listHeader">

        <a href="/templates/Contato.html">
            <button class="btn">
                <span>contato</span><i></i>
            </button>
        </a>

        <a href="/templates/Projetos.html">
            <button class="btn">
                <span>projetos</span><i></i>
            </button>
        </a>

        <a href="/templates/ToDo.html">
            <button class="btn">
                <span>TO DO</span><i></i>
            </button>
        </a>

    </ul>
</header>

<body>


    <div class="divall">

        <img src="../static/images/perfil.jpg" alt="Foto de Lucas">

        <div class="divtxt">
            <h2 class="sobremim">
                Sobre mim
            </h2>
            <hr />

            <p class="resumo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum nostrum deserunt debitis, illum
                officia
                possimus neque repudiandae harum, aspernatur, consectetur fugiat quasi dicta quaerat adipisci expedita
                placeat culpa labore.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur risus
                vel
                ultricies dapibus. Phasellus fermentum mauris nec sapien pulvinar, a aliquet enim tristique. Integer
                tempor
                neque a sapien semper, vel rhoncus est aliquam. Fusce non tellus eget mauris semper dignissim a in
                lacus.
                Duis sed vulputate risus. Aliquam nec nibh consequat, interdum nulla ut, ultricies sapien. Maecenas
                rutrum
                risus vel mauris ultrices gravida. Praesent fermentum turpis vel tempor porttitor. Integer mattis, eros
                id
                gravida scelerisque, leo quam rutrum erat, et varius urna nisi sed mauris. Etiam tincidunt facilisis
                neque,
                ut aliquam dui lacinia in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia
                Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Nullam
                vel lectus purus. Phasellus mattis sapien ac lectus dignissim, ut volutpat dolor feugiat.

            </p>

        </div>
    </div>

</body>



</html>